<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/common.html}">

<div layout:fragment="content">
    <div class="container">
        <header class="py-3">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">회원가입</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card">
            <div class="card-body p-4">
                <form name="frmchangepwd" id="frmchangepwd" method="post" action="/member/changepwd" onsubmit="checklast('user_id','div_err_user_id','pwd','div_err_pwd')">
                    <div class="mb-3">
                        <label for="pwd" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" value="${memberDTO.pwd}" onkeyup="checkInputPw('pwd','div_err_pwd')" maxlength="128">
                        <div class="form-text" id="div_err_pwd" style="display:none; color:red">영문+숫자+특수문자 8~20자리로만 입력하세요.</div>
                    </div>
                    <div class="mb-3">
                        <label for="pwd2" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" name="pwd2" id="pwd2" value="${memberDTO.pwd}" onkeyup="checkInputPw2('pwd2','div_err_pwd2')" maxlength="128">
                        <div class="form-text" id="div_err_pwd2" style="display:none; color:red">영문+숫자+특수문자 8~20자리로만 입력하세요.</div>
                    </div>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="submit">확인</button>
                        <button type="button" class="btn btn-primary" id="btnLogin" onclick="window.location.href='/member/searchpwd'">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
</script>