
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/common.html}">

<div layout:fragment="content">
    <div class="container">
        <header class="py-3">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">글 등록하기</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card">
            <div class="card-body p-4">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary" type="button" onclick="location.href='/member/mypage'">오늘의 학습</button>
                    <button class="btn btn-outline-primary" type="button" onclick="location.href='/member/mystudy'">나의 학습</button>
                    <button class="btn btn-outline-primary" type="button" onclick="location.href='/member/myshare'">공유 학습</button>
                </div>
                <form action="/member/mybbsregist" method="post" name="mybbsregist" id="mybbsregist" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="category" class="form-label">대분류</label>
                        <input type="text" class="form-control" name="category" id="category" th:value="${bbsDTO.category}" maxlength="30">
                        <div id="div_err_category" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="category2" class="form-label">중분류</label>
                        <input type="text" class="form-control" name="category2" id="category2" th:value="${bbsDTO.category2}" maxlength="30">
                        <div id="div_err_category2" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="user_id" class="form-label">아이디</label>
                        <input type="text" class="form-control" name="user_id" id="user_id" th:value="${session.memberDTO.userId}" readonly>
                        <div id="div_err_user_id" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" name="title" id="title" th:value="${bbsDTO.title}" maxlength="30">
                        <div id="div_err_title" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" name="content" id="content" rows="10" cols="60" style="resize:none;" maxlength="400">[[${bbsDTO.content}]]</textarea>
                        <div id="div_err_content" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="hashtag" class="form-label">이미지</label>
                        <input type="file" class="form-control" name="files" id="files" >
                        <div id="div_err_files" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="hashtag" class="form-label">해쉬태그</label>
                        <input type="text" class="form-control" name="hashtag" id="hashtag" th:value="${bbsDTO.hashtag}" maxlength="30">
                        <div id="div_err_hashtag" style="display:none"></div>
                    </div>
                    <div class="mb-3">디스플레이 노출 여부
                        <div class="form-check">
                            <label for="display_date_flag" class="form-label" >노출</label>
                            <input type="radio" class="form-check-input" name="display_date_flag" id="display_date_flag" value="Y" checked>
                        </div>
                        <div class="form-check">
                            <label for="display_date_flag1" class="form-label">노출안함</label>
                            <input type="radio" class="form-check-input" name="display_date_flag" id="display_date_flag1" value="N">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="display_date_start" class="form-label">디스플레이 시작일</label>
                        <input type="date" class="form-control" name="display_date_start" id="display_date_start" th:value="${bbsDTO.display_date_start}" maxlength="1">
                        <div id="div_err_display_date_start" style="display:none"></div>
                    </div>
                    <div class="mb-3">
                        <label for="display_date_end" class="form-label">디스플레이 종료일</label>
                        <input type="date" class="form-control" name="display_date_end" id="display_date_end" th:value="${bbsDTO.display_date_end}" maxlength="1">
                        <div id="div_err_display_date_end" style="display:none"></div>
                    </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary" type="submit">글 등록</button>
                    <button class="btn btn-outline-primary" type="button" onclick="location.href='/member/mystudy'">취소</button>
                </div>
                </form>
            </div>
        </div>
    </div>

<script layout:fragment="script" th:inline="javascript">
</script>
</div>
</html>
