<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/common.html}">

<div layout:fragment="content">
    <div class="container">
        <header class="py-3">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">나의 공유</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card">
            <div class="card-body p-4">
                <div class="d-grid">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-1">
                        <a class="btn btn-outline-primary" th:href="|/member/myshare?userId=${session.memberDTO.userId}|">내가보낸공유</a>
                        <a class="btn btn-outline-primary" th:href="|/member/myshare?toUserId=${session.memberDTO.userId}|">내가받은공유</a>
                        <a class="btn btn-outline-primary" th:href="|/member/mygood?userId=${session.memberDTO.userId}|">내가한좋아요글</a>
                    </div>
                </div>
                <table class="table" >
                    <thead>
                    <tr class="table-secondary row">
                        <th class="col-1 text-truncate">No</th>
                        <th class="col-1 text-truncate">카테고리</th>
                        <th class="col-4 text-truncate">제목</th>
                        <th class="col-1 text-truncate">공유자</th>
                        <th class="col-2 text-truncate">공유받은사람</th>
                        <th class="col-2 text-truncate">등록일</th>
                        <th class="col-1 text-truncate">공유취소</th>
                    </tr>
                    </thead>
                    <tbody id="tablebody">
                    <tr class="row" th:each="dto:${bbsShareDTO}">
                        <td class="col-1 text-truncate" >[[${dto.bbsIdx}]]</td>
                        <th class="col-1 text-truncate">[[${dto.category}]]</th>
                        <td class="col-4 text-truncate" ><a th:href="|@{/member/mybbsview(bbsIdx=${dto.bbsIdx},category=${dto.category})}|">[[${dto.title}]]</a></td>
                        <td class="col-1 text-truncate" >[[${dto.userId}]]</td>
                        <td class="col-2 text-truncate" >[[${dto.toUserId}]]</td>
                        <td class="col-2 text-truncate" >[[${#strings.substring(dto.reg_date,0,10)}]]</td>
                        <td class="col-1 text-truncate" ><a th:href="|@{/member/sharedelete(shareIdx=${dto.shareIdx},bbsIdx=${dto.bbsIdx},category=${dto.category})}|">X</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>