<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/common.html}">

<div layout:fragment="content">
    <div class="container">
        <header class="py-3">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">내가 등록한 글</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card">
            <div class="card-body p-4">
                <div>
                    <form name="frmSearch" id="search" action="/member/mystudy">
                        <div class="input-group mb-1">
                            <input type="hidden" th:value="${session.memberDTO.userId}">
                            <span class="input-group-text ">검색범위</span>
                            <div class="input-group-text">
                                <div class="form-check form-switch form-check-inline" >
                                    <label class="form-check-label" for="search_type_0">제목</label>
                                    <input class="form-check-input" role="switch" type="checkbox" value="t" name="search_type" id="search_type_0" th:checked="${tflag}" >
                                </div>
                                <div class="form-check form-switch form-check-inline" >
                                    <label class="form-check-label" for="search_type_0" >내용</label>
                                    <input class="form-check-input" role="switch" type="checkbox" value="c" name="search_type" id="search_type_1" th:checked="${cflag}"  >
                                </div>
                            </div>
                            <input class="form-control" type="text" name="search_word" id="search_word" placeholder="검색어" th:value="${pageResponseDTO.search_word}">
                            [[${pageResponseDTO.search_word}]]
                        </div>
                        <div class="input-group mb-1">
                            <span class="input-group-text">등록일</span>
                            <input type="date" class="form-control" name="reg_date_start" id="reg_date_start" placeholder="등록일 시작" th:value="${pageResponseDTO.reg_date_start}">
                            <span class="input-group-text">~</span>
                            <input type="date" class="form-control" name="reg_date_end" id="reg_date_end" placeholder="등록일 끝" th:value="${pageResponseDTO.reg_date_end}">
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
                            <button class="btn btn-outline-primary" type="submit">검색</button>
                            <button class="btn btn-outline-primary" type="reset" onclick="window.location.href='/member/mystudy'">검색 초기화</button>
                        </div>
                    </form>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
                    <button class="btn btn-outline-primary" onclick="window.location.href='/member/mybbsregist'">등록하기</button>
                </div>
                <div class="d-grid">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-1">
                        <a class="btn btn-outline-primary" th:href="|@{/member/mystudy(orderby=reg_date)}${pageResponseDTO.linkParams}|">등록순</a>
                        <a class="btn btn-outline-primary" th:href="|@{/member/mystudy(orderby=good)}${pageResponseDTO.linkParams}|">좋아요순</a>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
                        <select class="justify-content-md-end" name="page_size" onchange="window.location.href=`/member/mystudy?page_size=${this.value}`">
                            <option selected>개수</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="80">80</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                <table class="table" >
                    <thead>
                    <tr class="table-secondary row">
                        <th class="col-1 text-truncate">No</th>
                        <th class="col-1 text-truncate">대분류</th>
                        <th class="col-1 text-truncate">중분류</th>
                        <th class="col-4 text-truncate">제목</th>
                        <th class="col-1 text-truncate">등록일</th>
                        <th class="col-1 text-truncate">좋아요</th>
                        <th class="col-1 text-truncate">노출여부</th>
                        <th class="col-2 text-truncate">노출기간</th>
                    </tr>
                    </thead>
                    <tbody id="tablebody">
                    <tr class="row" th:each="dto:${pageResponseDTO.dtoList}">
                        <td class="col-1 text-truncate" >[[${dto.BbsIdx}]]</td>
                        <th class="col-1 text-truncate">[[${dto.category}]]</th>
                        <th class="col-1 text-truncate">[[${dto.category2}]]</th>
                        <td class="col-4 text-truncate" ><a th:href="|@{/member/mybbsview(page=${pageResponseDTO.page},bbsIdx=${dto.bbsIdx},category=${dto.category})}${pageResponseDTO.linkParams}|">[[${dto.title}]]</a></td>
                        <td class="col-1 text-truncate" >[[${#strings.substring(dto.reg_date,0,10)}]]</td>
                        <td class="col-1 text-truncate" >[[${dto.good}]]</td>
                        <td class="col-1 text-truncate" >[[${dto.display_date_flag}]]</td>
                        <td class="col-2 text-truncate">[[${dto.display_date_start}]] ~ [[${dto.display_date_end}]]</td>
                    </tr>
                    </tbody>
                </table>

                <div class="float-end">
                    <ul class="pagination flex-wrap">
                        <li class="page-item" th:if="${pageResponseDTO.prev_page_flag}">
                            <a th:href="|@{/member/mystudy(page=${pageResponseDTO.page_block_start -10})}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${pageResponseDTO.page_block_start -10}">Previous</a>
                        </li>

                        <th:block th:each="i:${#numbers.sequence(pageResponseDTO.page_block_start,pageResponseDTO.page_block_end)}">
                            <li th:class="${pageResponseDTO.getPage() == i} ? 'page-item active' : 'page-item'">
                                <a th:href="|@{/member/mystudy(page=${i})}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${i}">[[${i}]]</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:if="${pageResponseDTO.next_page_flag}">
                            <a th:href="|@{/member/mystudy(page=${pageResponseDTO.page_block_end +1})}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${pageResponseDTO.page_block_end+1}">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>