
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{common/common.html}">

<div class="container my-3" layout:fragment="content">
    <div class="card">
        <div class="card-body p-4">
            <header class="py-1">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-3">
                                <h1 class="fw-bolder mb-3">로그인</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <form id="frmLogin" name="frmLogin" method="post" action="/login" onsubmit="checkloginall('frmLogin','user_id','pwd')">
                <div class="mb-3">
                    <label for="user_id" class="form-label">아이디</label>
                    <input type="text" class="form-control" name="user_id" id="user_id" th:value="${save_id}" maxlength="20" onkeyup="checkloginid('user_id','btnLogin','div_err_user_id')">
                    <div class="form-text" id="div_err_user_id" style="display:none; color: red">영어 소문자 및 숫자만 입력가능합니다.</div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" name="pwd" id="pwd" maxlength="128" onkeyup="checkloginpw('pwd','btnLogin','div_err_pwd')">
                    <div class="form-text" id="div_err_pwd" style="display:none; color: red">영어+숫자+특수문자 조합으로 최소 8자리 이상만 허용됩니다.</div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch form-check-inline">
                        <label class="form-check-label" for="save_id">아이디저장</label>
                        <input class="form-check-input" type="checkbox" role="switch" name="save_id" id="save_id" value="checked" [[${save_id_flag}]]>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <label class="form-check-label" for="auto_login">자동로그인</label>
                        <input class="form-check-input" type="checkbox" role="switch" name="auto_login" id="auto_login" value="checked" [[${login_flag}]]>
                    </div>
                    <div class="form-check-inline">
                        <a href="/member/searchpwd">비밀번호찾기</a>
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" id="btnLogin" disabled>로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript" th:text="${errorAlert}">

</script>

